.app{
  min-height: 100vh;
  background:rgb(56, 125, 148);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tweet{
  height: 300px;
  width: 200px;
  background: white;
  border-radius: 3px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.red{
  color:red;
  font-size: 50px;
}